__pycache__/
*.bin
data/albumarts/
data/youtube/
data/inatheque/
.ipynb_checkpoints/
conflicts.csv
token.json
Untitled*.ipynb
youtube-alignment.csv
youtube-search.json
shazoom.py
.vscode/
list.txt
youtube.append.json
merger-*.csv
fix_ina.json
fix_ina.py